<div gdAreas="header header | side content | footer footer" gdGap="16px" gdRows="auto auto auto"
	gdAreas.lt-md="header | side | content | footer" gdRows.lt-md="auto auto auto auto">

	<div class="header" gdArea="header">
		Header
	</div>

	<div class="side" gdArea="side" width="70">
		<p>Bibendum pharetra illo perspiciatis? Fugiat ipsam laborum suscipit, etiam diamlorem eligendi, platea auctor
			donec fusce proin, quia sint illum? Leo facilis condimentum aperiam possimus, pariatur voluptatem eaque, quo
			nostrum magnam? Sollicitudin suscipit! Amet potenti, soluta similique amet praesent qui nobis! Fermentum
			cillum. Quibusdam cupiditate ea facere! Accusantium itaque, deleniti. Vero rhoncus magni velit duis! Minima,
			volutpat nunc donec nisi quas! Ea earum explicabo, eleifend, diam nonummy mi proin. Libero similique?
			Euismod excepturi! Placeat recusandae architecto fugiat consequatur! Fusce! Enim repellat? Rhoncus expedita
			soluta minima! Reiciendis necessitatibus praesentium porro turpis fugit! Accusamus, autem veritatis
			perferendis rem animi, morbi sunt auctor aliquip.</p>

		<p>Magni laoreet dui gravida tortor consequat! Culpa provident blandit unde, perferendis volutpat. Iusto
			suscipit! Duis pariatur, aut iusto erat quis ornare iusto voluptatum semper metus maxime? Tristique.
			Adipiscing? Ipsa ultricies? Pulvinar, laboris debitis penatibus habitasse cras? Iusto hymenaeos tempus
			pellentesque convallis aenean sem montes! Praesent esse qui, aperiam? Animi pede. Tempor? Leo ex duis
			vehicula libero morbi, qui aliquid odio, dictum erat, explicabo sagittis. Natoque consectetur? Porttitor
			fugiat cupiditate quae eveniet distinctio pellentesque augue. Doloremque quos suspendisse, augue? Maxime
			aut, omnis nunc pulvinar nascetur? Omnis, dolorem risus luctus natus dolor nostrum, vel, dapibus condimentum
			habitasse facilisis. Nisl elit curabitur dicta.</p>

		<p>A vitae eum accusantium fames accusamus laoreet numquam exercitation, quibusdam! Pretium in, laoreet impedit
			pariatur iste. Fugiat netus, eos impedit, magnam scelerisque saepe phasellus fusce ridiculus debitis itaque,
			sem. Magnam? Lacus varius? Minim ullamco, ad cubilia ac lacus! Excepteur, dolores lectus a quidem vero,
			taciti. Duis. Pretium perferendis? Odit aenean tincidunt architecto dolore mus illo tenetur facilisis mauris
			ullamcorper enim pharetra tempus pulvinar dicta! Auctor incidunt? Et, leo repellendus molestias? Purus
			provident hendrerit dolorem pretium vulputate porro sapien deserunt magni? Adipisicing possimus expedita ab
			duis pellentesque augue elementum? In adipiscing! Sapien purus, elementum etiam nec at! Mus dignissimos
			taciti, mollitia.</p>

		<p>Velit sequi risus sint ullamco vehicula, eveniet! Torquent laudantium. Voluptatibus blanditiis dolores quas
			est itaque, voluptate beatae inventore ducimus nibh quae dapibus? Quisquam aliquam possimus cupidatat!
			Bibendum sunt, iaculis blandit debitis distinctio, eos. Eaque maiores, interdum? Cum tortor curabitur diam
			aspernatur nec, nibh cumque ac imperdiet, ridiculus laboriosam, viverra tristique! Soluta impedit fugiat
			lobortis? Scelerisque ipsum repudiandae nunc nihil est, pede nec aptent? Velit! Eveniet curae neque nulla
			laoreet nostrud, ultrices eiusmod massa porttitor facilis impedit nunc. Nisl voluptatum autem occaecat
			cumque voluptatum omnis, sed suscipit netus. Fuga, rerum eius? Malesuada tenetur eligendi ac nesciunt
			laoreet? Sequi omnis! Conubia eos.</p>

		<p>Sit eius, maxime recusandae magna voluptate eu varius! Duis. Erat felis numquam egestas, ridiculus aliquip!
			Atque vivamus class, iaculis, class cumque minima, consectetuer fusce. Occaecati, sed dolorum vivamus risus
			facilisi potenti erat eveniet aspernatur sapien quod? Etiam proident diam! Habitant leo eget, sapien, dolor
			molestie, aspernatur quia convallis? Enim delectus, necessitatibus fuga cubilia quos consequatur fugit?
			Eligendi et laborum quam proident euismod optio. Consequat. Posuere hic volutpat consequatur pharetra justo
			aut unde. Mauris error tristique. Feugiat, curae ullam, curabitur cumque. Possimus proin do posuere
			provident suscipit curae dapibus, elit aute dicta porro augue alias quisque mollitia molestie dolore tempore
			veritatis.</p>


	</div>

	<div class="content" gdArea="content">
		<p>Lectus quae consequatur voluptatibus posuere faucibus molestias dapibus, quo numquam cumque ornare tenetur?
			Occaecat sint netus elit diam porro morbi curabitur quisque rutrum repellat penatibus. Enim. Nostrud
			cupidatat dictumst hendrerit commodo! Bibendum iaculis litora, facilisi fuga, ut omnis asperiores
			exercitationem voluptatibus vero laborum purus morbi dis proident adipisci? Veniam duis iaculis eget, id,
			corrupti aenean diam temporibus rem ridiculus fermentum, beatae quasi aliquid dignissimos integer penatibus.
			Ea molestias praesentium perspiciatis non doloremque augue architecto quo conubia lobortis nemo scelerisque
			accusantium corporis minus luctus recusandae facere irure class. Omnis, enim interdum, dolores doloremque
			laborum nostrum molestie blanditiis beatae, magnis? Eget? Parturient.</p>
		<div gdAreas="header header | side content | footer footer" gdGap="16px" gdRows="auto auto auto"
			gdAreas.lt-md="header | side | content | footer" gdRows.lt-md="auto auto auto auto">

			<div class="header" gdArea="header">
				Header
			</div>

			<div class="side" gdArea="side">
				Side
			</div>

			<div class="content" gdArea="content">
				Content
			</div>

			<div class="footer" gdArea="footer">
				Footer
			</div>
		</div>
	</div>

	<div class="footer" gdArea="footer">
		Footer
	</div>
</div>

<h2>second</h2>
<div class="colorNested box" style="height: auto;">
	<div gdAreas.xs="header | sidebar | content | sidebar2 | footer" gdGap="1em" gdColumns.xs="none"
		gdAreas.sm="header header | sidebar content | sidebar2 sidebar2 | footer footer" gdColumns.sm="20%!"
		gdAreas.gt-sm="header header header | sidebar content sidebar2 | footer footer footer"
		gdColumns.gt-sm="120px auto 120px" gdGap.gt-sm="20px" [ngStyle]="{'max-width': 'auto'}"
		[ngStyle.gt-sm]="{'max-width': '100%'}">
		<div class="blocks one" gdArea="header">Header</div>
		<div class="blocks five" gdArea="sidebar">Sidebar</div>
		<!-- <div class="blocks three" gdArea="sidebar2">Sidebar 2</div> -->
		<div class="blocks four" gdArea="content">Content
			<br /> More content than we had before so this column is now quite tall.</div>
		<div class="blocks five" gdArea="footer">Footer</div>
	</div>
</div>

