<mat-toolbar color="primary" class="navbars">
  <div>Angular Material</div>
  <div>
    <!-- <span routerLink="/buttons">Buttons</span>
    <span routerLink="/spinner">Spinner</span>
    <span routerLink="/sidenav">Sidenav</span> -->
    <span routerLink="/modal">Modal</span>
    <span routerLink="/employee">Employees</span>
    <span routerLink="/card">Card</span>
    <span routerLink="/layout">Layout</span>
    <span routerLink="/namelayout">Name Layout</span>
    <span routerLink="/ngclass">Ng Class</span>
    <span routerLink="/customers">Customers</span>
    <span routerLink="/matpagination">Material Pagination</span>
    <span routerLink="/pagination">Pagination</span>
    <span routerLink="/tabs">Tabs</span>
    <span routerLink="/paginationwithparams">Pagination with Params</span>
    <span routerLink="mytab">My Tab</span>
    <!-- <span>Table</span> -->
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>