
<table class="table bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of agira.companies; let i=index">
      <td> {{i + 1}} </td>
      <td> {{data.fullName}} </td>
      <td> {{data.email}} </td>
      <td> {{data.mobile}} </td>
      <td> {{data.city}} </td>
    </tr>
  </tbody>
</table>

<!-- <div *ngFor="let data of employees">
  <div> {{data.fullName}} </div>
</div> -->